<div class="p-4">
    <h1 class="text-2xl font-bold mb-3">GitHub Repositories </h1>
    <form [formGroup]="searchForm" (ngSubmit)="search()">
        <div class="flex justify-between items-center">
            <div>
                <mat-form-field>
                    <mat-label>Search Repositories</mat-label>
                    <input formControlName="searchQuery" matInput placeholder="Repository name">
                    <mat-icon matSuffix>search</mat-icon>
                    <!-- <mat-hint *ngIf="!profileForm.valid">Cannot be empty.</mat-hint> -->
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Search By</mat-label>
                    <mat-select formControlName="searchBy">
                      <mat-option value="name">Name</mat-option>
                      <mat-option value="issue">Issue Title</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Order by stars</mat-label>
                    <mat-select formControlName="orderByStars">
                    <mat-option value="asc">Ascending</mat-option>
                    <mat-option value="desc">Descending</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
    
            <div>
                <button type="submit" mat-raised-button color="primary"> Search </button>
            </div>
        </div>
    </form>

    <table mat-table [dataSource]="repos()" class="mat-elevation-z8">
      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef> Avatar </th>
        <td mat-cell *matCellDef="let repo">
          <img [src]="repo.owner.avatar_url" class="w-8 h-8 rounded-full">
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let repo"> {{ repo.name }} </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef> Created At </th>
        <td mat-cell *matCellDef="let repo"> {{ repo.created_at | date }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['avatar', 'name', 'created']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['avatar', 'name', 'created'];" (click)="viewCommits(row.name)" class="cursor-pointer hover:bg-gray-100"></tr>
    </table>
  </div>
  <div>
    <mat-paginator [length]="repos().length" aria-label="Select page of GitHub search results"></mat-paginator>
  </div>
