<div class="p-4">
    <mat-form-field appearance="outline">
      <mat-label>Search Repositories</mat-label>
      <input matInput [(ngModel)]="searchQuery" (input)="search()">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <table mat-table [dataSource]="repos()" class="mat-elevation-z8">
      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef> Avatar </th>
        <td mat-cell *matCellDef="let repo">
          <img [src]="repo.owner.avatar_url" class="w-8 h-8 rounded-full">
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let repo"> {{ repo.name }} </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef> Created At </th>
        <td mat-cell *matCellDef="let repo"> {{ repo.created_at | date }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['avatar', 'name', 'created']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['avatar', 'name', 'created'];" (click)="viewCommits(row.name)" class="cursor-pointer hover:bg-gray-100"></tr>
    </table>
  </div>
