<div class="p-4 bg-gray-100">
    <h2 class="text-2xl font-bold">Commits for {{ repoName() }}</h2>
    <button mat-raised-button color="primary" (click)="backToRepos()">Back</button>
</div>

<div class="p-4">
    <form [formGroup]="searchForm" (ngSubmit)="searchCommits()">
        <div class="flex gap-4">
            <div>
                <mat-form-field>
                    <mat-label>Search commits</mat-label>
                    <input matInput formControlName="searchQuery" placeholder="Enter a commit message">
                </mat-form-field>
            </div>
            <div>
                <button type="submit" mat-fab color="primary" aria-label="Search button with a search icon"> <mat-icon>search</mat-icon> </button>
            </div>
        </div>
    </form>

    <div class="relative mat-elevation-z8">
        @if (isLoadingResults() || isRateLimitReached()) {
            <div class="absolute top-0 left-0 right-0 bottom-[56px] bg-black/15 z-10 flex items-center justify-center">
            @if (isLoadingResults()) {
                <mat-spinner></mat-spinner>
            }
            </div>
            @if (isRateLimitReached()) {
                <div class="max-w-[360px] text-center">
                GitHub's API rate limit has been reached. It will be reset in the next hour.
                </div>
            }
        }
        <table mat-table [dataSource]="commits()" class="relative min-h-[200px] overflow-auto">
            <ng-container matColumnDef="author">
                <th mat-header-cell *matHeaderCellDef> Author </th>
                <td mat-cell *matCellDef="let commit"> {{ commit.author.name }} </td>
            </ng-container>

            <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef> Message </th>
                <td mat-cell *matCellDef="let commit"> {{ commit.message }} </td>
            </ng-container>

            <ng-container matColumnDef="url">
                <th mat-header-cell *matHeaderCellDef> URL </th>
                <td mat-cell *matCellDef="let commit"> {{ commit.url }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator 
            [length]="totalCommits()"
            [pageSize]="perPage()"
            [pageSizeOptions]="[10, 30, 50]">
        </mat-paginator>
    </div>
</div>