<div class="p-4 bg-gray-100">
    <h2 class="text-2xl font-bold">Commits for {{ repoName() }}</h2>
    <button mat-raised-button color="primary" (click)="backToRepos()">Back</button>
</div>

<div class="p-4">
    <form [formGroup]="searchForm" (ngSubmit)="searchCommits()">
        <div class="flex gap-4 items-center content-center">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Search commits</mat-label>
                    <input matInput formControlName="searchQuery" placeholder="Enter a commit message">
                </mat-form-field>
            </div>
            <div>
                <button type="submit" mat-fab color="primary" aria-label="Search button with a search icon"> <mat-icon>search</mat-icon> </button>
            </div>
        </div>
    </form>

    <table mat-table [dataSource]="commits()" class="mat-elevation-z8">

        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef> Author </th>
            <td mat-cell *matCellDef="let commit"> {{ commit.author.name }} </td>
        </ng-container>

        <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef> Message </th>
            <td mat-cell *matCellDef="let commit"> {{ commit.message }} </td>
        </ng-container>

        <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef> URL </th>
            <td mat-cell *matCellDef="let commit"> {{ commit.url }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="[ 'author', 'message', 'url']"></tr>
        <tr mat-row *matRowDef="let row; columns: [ 'author', 'message', 'url'];"></tr>
    </table>
</div>